# ownDynDNS credentials
OWNDYNDNS_USERNAME=your_username
OWNDYNDNS_PASSWORD=your_password

# Netcup API credentials
NETCUP_APIKEY=your_api_key
NETCUP_APIPASSWORD=your_api_password
NETCUP_CUSTOMERID=12345678

# Optional
DEBUG=false
